@{
    ViewBag.Title = "Home";
}
<br>
<div class="jumbotron" style="background-color: #87295c; border-radius: 20px ">
    <h2 style="color: #ffffff">FINAL DE JOJO ?!</h2>
    <p class="lead" style="color: #ffffff">Essa quinta (01/12/2022) foi lançado a 3° parte de Jojo Bizarre Adventures:Stone Ocean, ao qual apresenta o arco final do vilão, o padre  Enrico Pucci. </p>
</div>
<div class="row">
    <div class="col-md-6">
        <img style="height:425px; border-radius:15px"src="~/Content/Image/jojoperso.png"/>
    </div>
    <div class="col-md-6">
        <img style="height:425px; border-radius:15px" src="~/Content/Image/stands.png" />
    </div>
 </div>
<br>
    <div class="row" style="background: #514687; border-radius: 10px">
        <div class="col-md-6">
            <h2 style="color: #5286b6" >Todos os caracters</h2>
            <p style="color: #ffffff">Em Jojo Bisarre Adventures os protagonitas são os jojos porem em suas aventuras ele encontram varios parceiros e inimigos, então veja essa lista de todos os personagens</p>
            <p><a class="btn btn-default" href="https://jojo.fandom.com/wiki/Category:Characters">clique aqui &raquo;</a></p>
        </div>
        <div class="col-md-6">
            <h2 style="color: #5286b6">Todos os Stands</h2>
            <p style="color: #ffffff">Stands São formas fisicas da sua vitalidade. Eles podem ser despertados por uma flecha ou desde sua nascimento.</p>
            <p><a class="btn btn-default" href="https://jojo.fandom.com/wiki/Template:Stands_List">clique aqui &raquo;</a></p>
        </div>
    </div>
